<!--===== HEADER =====-->
<header class="l-header">
  <nav class="nav bd-grid">
    <div>
    </div>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <ng-container *ngFor="let item of menuItems">
          <li class="nav__item">
            <a [routerLink]="item.route" routerLinkActive="active-link" class="nav__link">{{ item.label }}</a>
          </li>
        </ng-container>
      </ul>
    </div>

    <div class="nav__toggle" id="nav-toggle">
      <i class="bx bx-menu"></i>
    </div>
  </nav>
</header>

<main class="l-main">
  <router-outlet></router-outlet>
</main>

<!--===== FOOTER =====-->
<footer class="footer">
  <p class="footer__copy">&#169; Amar Barge. All rights reserved</p>
</footer>
