<!--===== SKILLS =====-->
<div class="skills section" id="skills">
  <div class="skills__container bd-grid">
    <div class="skills__left">
      <h2 class="skills__subtitle">Technical Skills</h2>
      <p class="skills__text">
        Skilled in designing and developing scalable applications using .NET,
        Angular, and Flutter. Proficient in solution architecture, API
        integration, and performance optimization.
      </p>
      <ng-container *ngFor="let skill of technicalSkills">
        <app-skill [skill]="skill"></app-skill>
      </ng-container>
    </div>

    <div class="skills__right">
      <h2 class="skills__subtitle">Profesional Skills</h2>
      <p class="skills__text">
        Experienced in leading cross-functional teams and managing end-to-end
        project delivery. Strong in stakeholder communication, Agile practices,
        and mentoring engineers.
      </p>
      <ng-container *ngFor="let skill of professionalSkills">
        <app-skill [skill]="skill"></app-skill>
      </ng-container>
    </div>

    <div>
      <img src="assets/img/work3.jpg" alt="" class="skills__img" />
    </div>
  </div>
</div>
