/* ===== ABOUT =====*/
.about {
  &__container {
    padding: 5rem 0 5rem;
    row-gap: 2rem;
    text-align: center;
  }
  &__subtitle {
    margin-bottom: var(--mb-2);
  }

  &__text{
    text-align: justify;
  }

  &__img {
    justify-self: center;
    left: 0;
    width: 260px;
    & img {
      width: 360px;
      border-radius: 0.5rem;
    }
  }
}
